.App {
    text-align: center;
}



.rLogo {
    height: 4vmin;
}

@media (prefers-reduced-motion: no-preference) {

    .rLogo {
        animation: App-logo-spin infinite 25s linear;
    }
}




@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#tsparticles {
    position: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: -1;
}

.about {
    display: flex;

    /* align-items: center; */

    /* width: 90%; */
    /* margin: 0 auto; */


    /* justify-content: center; */
    color: white;



    /* background: radial-gradient(circle at 100%, grey 50% , transparent 50%) */


}

.aboutP {
    background: radial-gradient(circle at 100%, grey 50% , transparent 50%);
    width: 30%;
}

.aboutB {
    background-color: blue;
    /* width: 60%; */
}


