.App {
  text-align: center;
}



.rLogo {
  height: 4vmin;
}

@media (prefers-reduced-motion: no-preference) {

  .rLogo {
    animation: App-logo-spin infinite 25s linear;
  }
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#tsparticles {
  position: fixed;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}


.bioPic {
  width: clamp(20%, 200px, 30%);
  border-radius: 50%;
  padding-right: 2%;
}

.about {
  display: flex;

  align-items: center;

  /* width: 90%; */
  /* margin: 0 auto; */


  color: white;
  margin: 50px;



  /* background: radial-gradient(circle at 100%, grey 70% , transparent 30%) */


}

.test {
  width: clamp(50%, 850px, 95%);


  display: flex;
  align-items: center;
  margin: 0 auto;
  color: white;
  padding-top: 50px;


}



.aboutP {
  width: 30%;
  padding-right: 2%;
}

.aboutB {
  /* background-color: blue; */
  width: 75%;
  background-color: rgba(94, 94, 94, .9);
  border-radius: 25px;

}




.ftrIcons {
  display: flex;
  padding: 30px;
  justify-content: center;
}

.icon {
  padding: 5px;

}

.card-footer {
  justify-content: space-around;
  display: flex;
}