* {
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

:root {
    --white: #ffffff;
    --light: #c9c9c9;
    --dark: #5e5e5e;
    --black: #000000;
    --lastn: #070bfa;
    --shadow: #7c7c7c;
}

a {
    color: var(--white);
    text-decoration: none;
}

a:hover {
    color: var(--shadow);
}

h2 {
    text-align: center;
    padding-top: 3%;
}

.intro {
    text-align: center;
    width: 70%;
    margin: auto;
    padding: 2%;
}

.nav-bar {
    padding: 3%;
    background-color: var(--black);
    position: fixed;
    width: 100%;
    top: 0;
}

.navpd {
    padding-bottom: 10%;
}

.my-name {
    display: inline-block;
    margin-left: 20px;
}


.my-name:hover {
    filter: brightness(80%);
}

.nav-bar h1 .lastn,
.footer h2 .lastn,
.footer p .lastn {
    color: var(--lastn);
}

.nav-bar div {
    padding-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 18px;
}

.nav-bar div ul li {
    display: inline-block;
    margin-left: 25px;
}

.container {
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
}

.dSection,
.cSection {
    box-shadow: 0px 5px 10px 10px var(--shadow);
    margin: 2%;
}

.cSection {
    margin-left: 15%;
    margin-right: 15%;
}


.bio-pic {
    width: 40%;
}

.bio-img {
    width: 90%;
    border-radius: 5px;
}

.bio-img:hover {
    transform: translateX(8%) translateY(-5%) scale(1.3);
}

.bio-info {
    width: 60%;
}

.bio-pic,
.bio-info {
    margin-top: 3%;
}

.bio-info h2 {
    padding-bottom: 7%;
}


.testC {
    margin: 2%;
}

.card {
    box-shadow: 0px 5px 10px 10px var(--shadow);
    width: 80%;
    border-radius: 5px;
    margin: auto;
    padding: 2%;
    background-color: var(--light);
}

.card2 {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.resItems {
    display: flex;
    flex-direction: row;
}

.resItem {
    padding: 2%;
    /* display: flex; */
}

.card2 a {
    color: var(--lastn);
}

.card2 a:hover {
    color: var(--white);
}

.card:hover {
    box-shadow: 0px 10px 30px 30px var(--shadow);
    background-color: var(--dark);
    color: var(--white);
    transform: scale(1.2);
}

.resume {
    text-align: center;
}

.resume a {
    color: var(--lastn);
}

.resume ul {
    list-style: none;
}

.contactForm {
    border-radius: 5px;
    background-color: var(--dark);
    padding: 20px;
    color: var(--white);
    width: 90%;
    margin: auto;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--white);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.submitBtn {
    background-color: var(--white);
    color: var(--black);
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: var(--black);
    color: var(--white);
}

.footer {
    padding: 2%;
    text-align: center;
    background-color: var(--light);
}

.footer a {
    color: var(--black);
    font-size: xx-large;
}

@media screen and (max-width: 900px) {
    .navpd {
        padding-bottom: 12%;
    }
}

@media screen and (max-width: 680px) {
    .my-name {
        margin-left: 0px;
        font-size: smaller;
    }

    .nav-bar div {
        padding-top: 7px;
        margin-right: 0px;
    }

    p,
    h2,
    h3,
    a,
    li,
    label {
        font-size: 12px;
    }

    .cSection {
        margin-left: 10%;
        margin-right: 10%;
    }

    .navpd {
        padding-bottom: 12%;
    }

    .submitBtn {
        transform: scale(.8);
    }
}

@media screen and (max-width: 500px) {
    .my-name {
        margin-left: 0px;
        font-size: x-small;
    }

    .nav-bar div {
        padding-top: 3px;
        margin-right: 0px;
    }

    p,
    h2,
    h3,
    a,
    li,
    label {
        font-size: 10px;
    }

    .cSection {
        margin-left: 5%;
        margin-right: 5%;
    }

    .navpd {
        padding-bottom: 15%;
    }

    .submitBtn {
        transform: scale(.7);
    }
}

@media screen and (max-width: 420px) {
    .my-name {
        font-size: xx-small;
    }

    .nav-bar div {
        padding-top: 0px;
        /* float: left; */
    }

    p,
    h2,
    h3,
    a,
    li,
    label {
        font-size: 10px;
    }

    .cSection {
        margin-left: 2%;
        margin-right: 2%;
    }

    .navpd {
        padding-bottom: 20%;
    }
}

@media screen and (max-width: 300px) {

    p,
    h2,
    h3,
    a,
    li,
    label {
        font-size: 9px;
    }

    .cSection {
        margin-left: 2%;
        margin-right: 2%;
    }

    .navpd {
        padding-bottom: 37%;
    }

    .submitBtn {
        transform: scale(.6);
    }
}